<div id="home">
{{> nav }};

  <div class= "BackgroundImage">
    <img src="./img/whatsthefacts2.png">
  </div>

    <div id="wrapper">
      <h1>FactCheck.org Scrapper</h1>
      <h2><i>A Location for individuals to Research the Credibility of Politicians in the Media</i></h2>
      <h3><i>These articles provided to you have have been published through FactCheck.org. For further access to their archives please visit their website.</i></h3>
      <div id="articles">
      {{#each article}}
 <div class="card border-primary mb-3">
   <div class="card-header text-center">
     <a href={{this.link}} target="_blank">
       <h3>{{this.title}}</h3>
     </a>
   </div>
   <div class="card-body text-center">
     <p>{{this.sum}}</p>
     <br>
     <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal{{this._id}}"
       data-id={{this._id}}>Article Notes</button>
     <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Delete From Saved</button>
   </div>
 </div>
 {{/each}}

      </div>
      <div id="notes">
      </div>
    </div>

  </div>
